<?xml version='1.0'?>
<model>
    <name>NeoWorkshopWalls</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Adarsh Karan K P</name>
        <email>adarshkaran01@gmail.com</email>
    </author>
    <description>Walls with texture and stickers for neo workshop simulation world </description>
</model>
